{% extends 'base.html' %}

{% block title %}Browse games{% endblock %}

{% block content %}

{% if user.is_authenticated %}

  <h1>Released games:</h1>
  {% for game in games %}

      <h3>{{ game.name }}</h3>
      <h5>Price: {{ game.price }}</h5>
      <h5>Game developed by {{ game.developer }}</h5>
      
    {% if game not in user.games.all  %}
      <a href="{% url 'buy' game.name %}"  method="post">Buy Game Here</a>

    {% endif %}
  {% endfor %}

{% else %}
  <p>Log in to browse our games!</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">register</a>
{% endif %}

{% endblock content %}
