 {% extends 'base.html' %}

{% block title %}Browse games{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if games %}
  <h1 class=""><strong>Released games</strong></h1>

  {% for game in games %}
    <div class="container">

        <h3>{{ game.name }}</h3>

        <h5>Game developed by {{ game.developer }}</h5>

      {% if game not in user.games.all  %}

        <h5>Price: {{ game.price }}</h5>

        {% if user.usertype != "['developer']" %}
          <a href="{% url 'buy' game.name %}"  method="post">Buy Game Here</a>
        {%endif%}

      {% else  %}

        <h5>You already own this game</h5>

      {% endif %}

    </div>
  {% endfor %}
{% else %}
  <div class="">

  </div>
{% endif %}
{% else %}

  <p>Log in to browse our games!</p>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Register</a>

{% endif %}

{% endblock content %}
