{% extends 'base.html' %}

{% block title %}Buy Game {% endblock %}

{% block content %}

<h2>Buy {{game}}</h2>
<form method="post">
    {% csrf_token %}
    <form action="https://tilkkutakki.cs.aalto.fi/payments/pay" method="POST">
      <input type="hidden" name="pid" value="payment1">
      <input type="hidden" name="sid" value="l1YLtkV4YW1wbGU=">
      <input type="hidden" name="amount" value="9.95">
      <input type="hidden" name="success_url" value="http://localhost:8000/payment/success">
      <input type="hidden" name="cancel_url" value="http://localhost:8000/payment/cancel">
      <input type="hidden" name="error_url" value="http://localhost:8000/payment/error">
      <input type="hidden" name="checksum"value="4dcd406dca0a2fe61f38db186299f30d">
      Amount to be paid 9.95¤
      <input type="submit" value="Pay">
    </form>

{% endblock %}
