{% extends 'base.html' %}

{% block title %}{{ game.name }}{% endblock %}

{% block content %}
  <h1>You are now playing {{ game.name }}</h1>

  {% if game.developer == user %}
    <iframe id="iframe" src="{{ game.url }}" style="background: #FFFFFF;"></iframe>
    <br>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'game-update' game.name %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'game-delete' game.name %}">Delete</a>

  {% elif user.usertype == "['player']" %}

    {% if game in user.games.all  %}

      <div class="container-fluid">

        <div class="row">

          <div class="col-sm-9">

            {% if message %}
              <!-- Pops alert window after a payment has occured -->
              <iframe onload="showAlert('{{message}}')" id="iframe" src="{{ game.url }}"></iframe>
            {% else %}
              <iframe id="iframe" src="{{ game.url }}" ></iframe>
            {% endif %}
          </div>

            <div class="col-sm-3 ">
              <header><strong>{{game.name}} All-Time Highscores </strong></header>
              <ol>
                {% for score in highscores %}
                  {% if score.game == game %}
                    <li>{{score}}</li>
                  {% endif %}
                {% endfor %}
              </ol>
            </div>

        </div>
      </div>

      <h4 class="header-developed-by">Developed by {{ game.developer }}</h4>

    {% else %}

      <h2>You need to buy game to play it!</h2>

    {% endif %}

  {% endif %}

{% endblock %}
