{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <h1>{{ object.name }}</h1>
  <h2>Game developed by {{ object.developer }}</h2>
  {% if object.developer == user %}
    <iframe src="{{ object.url }}" style="background: #FFFFFF;" width="" height=""></iframe>
    <br>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'game-update' object.name %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'game-delete' object.name %}">Delete</a>
  {% elif user.usertype == "['player']" %}


      <iframe id="iframe" style="background: #FFFFFF;" src="{{ object.url }}" width="" height=""></iframe>
      <script>
        window.addEventListener('message', function(event) {
          switch (event.data.messageType) {

            case "SCORE":
              $.ajax({
                type: 'get',
                url: 'http://localhost:8000/game/{{game.name}}/highscore/',
                data: {
                  score: event.data.score
                },
                success: function (data) {
                  alert(`Game over! Your score is ${event.data.score}.`);
                }
              });
              break;

            case "SAVE":
              var txt = JSON.stringify(event.data.gameState)
              alert(txt)
              alert(`${event.data.gameState}Your score is ${event.data.gameState['score']} and items ${event.data.gameState['playerItems']}.`);

              $.ajax({
                type: 'get',
                url: 'http://localhost:8000/game/{{game.name}}/save/',
                data: {
                  gameState: JSON.stringify(event.data.gameState)
                },
                success: function (data) {
                  alert(`Game saved! Your score is ${event.data.gameState['score']} and items ${event.data.gameState['playerItems']}.`);
                },
                error: function(data) {
                  alert(`Error! Your game is not saved`);
                }
              });
              break;

            case "LOAD_REQUEST":
            alert(`Load request failed`);

              break;

            case "SETTING":
              alert(`Game from ${event.origin} loaded.Configurations: Width=${event.data.options.width}, Heigth = ${event.data.options.height}`);
              break;
          };
        });
      </script>

      <h2>You need to buy game to play it!</h2>
      <button type="submit" name="buyGame" method="post">Buy Game Here</button>
  {% endif %}
{% endblock %}
