{% extends "base.html" %}
{% block title %} Your Sales Stats {% endblock %}

{% block content%}

<h1><strong>Sales stats of your games:</strong></h1>

<div class="cont-2">

  {% for game in games %}

    <h2><strong>Game {{ game.name }} Sales</strong></h2>
    <p>{{game.name}} has been sold {{ game.sales }} time(s)!</p>

    <h5>Transactions: </h5>
    <ul>

    {% for transaction in transactions %}
      {% if transaction.game.developer == user %}
        <li>{{transaction.time}}</li>
      {% endif %}
    {% endfor %}

    </ul>
  {% endfor %}

  </div>

{% endblock content%}
