{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  {% for game in bought_games %}

    <a href="{% url 'game-detail' game.name %}">{{ game.name }}</a> <br>
      <iframe id="iframe" src="{{ game.url }}" width="" height=""></iframe>

    <h3>Game developed by {{ game.developer }}</h3>

  {% endfor %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">register</a>
{% endif %}
{% endblock content %}
