{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>

  {% for game in games %}
  <h1>{{ game.name }}</h1>
    <div class="">
      <a href="{% url 'game-detail' game.pk %}"> Play {{ game.name }} here!</a>
    </div>
    <<iframe src="{{ game.url }}" width="" height=""></iframe>
    <h2>Game developed by {{ game.developer }}</h2>

  {% endfor %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">register</a>
{% endif %}
{% endblock content %}
