{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  {% for game in games %}
    <h1>{{ game.name }}</h1>
    {% if game.is_bought %}
      <iframe src="{{ object.url }}" width="" height=""></iframe>
    {% else %}
      <h2>You need to buy game to play it!</h2>
      <button type="submit" name="buyGame" method="post">Buy Game Here</button>
    {% endif %}
    <h3>Game developed by {{ game.developer }}</h3>

  {% endfor %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">register</a>
{% endif %}
{% endblock content %}
